/* use github pages */

.body{
  font-family: 'Segoe UI', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  max-width: 960px;
  margin: auto;
}

h1{
  color: rgb(56, 37, 75);
}
h2{
  color: brown;
}
h3{
  font-size: 1em;
  padding-bottom: 1em;
}

header{
  text-align: center;
  margin: auto 2em;
}
section{
  margin: auto 1em 4em 2em;
}

a{
  color: rgb(27, 27, 131);
  text-decoration: none;
}
a:hover{
  cursor: pointer;
  color: rgb(108, 108, 175);
}
i{
  margin-right: .5em;
}
p{
  padding-left: 20px;
}
p,li{
  padding-top: 20px;
  margin: .2em auto;
  color: rgb(99, 44, 151);
}

hr{
  border: none;
  
  background-color: rgb(151, 106, 106);
  height: 1px;
}

h1,h2,h3{
  font-weight: 100;
  margin-bottom: 0;
}

h6{
  font-weight: 450;
  color: rgb(46, 75, 136);
}